%% -*- erlang -*-
{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [{post, [{compile, {appup, compile}},
                          {clean, {appup, clean}}]}
                 ]}.

{otpdoc_opts, [{edoc_modules, [percept]}]}.

{deps, [{egd, {git, "https://github.com/psyeugenic/egd.git", {tag, "0.9.0"}}}]}.

%% vim: ft=erlang
