%% -*- erlang -*-
{plugins, [rebar3_appup_plugin,
           {rebar3_otpdoc_plugin, {git, "https://github.com/erlang/rebar3_otpdoc_plugin.git", {branch, "master"}}}]}.
{provider_hooks, [{post, [{compile, {appup, compile}},
                          {clean, {appup, clean}}]}
                 ]}.

{otpdoc_opts, [{edoc_modules, [percept]}]}.

{deps, [{egd, {git, "https://github.com/erlang/egd.git", {tag, "0.9.1"}}}]}.

%% vim: ft=erlang
